        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden; 
            font-family: Arial;
            background: #f5e9ff
;
        }

        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 20px;
        }

        
        .header {
            width: 90%;
            max-width: 480px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .header h1 {
            font-size: 26px;
            font-weight: 700;
            background: linear-gradient(45deg, #3498db, #9b59b6);
            /* -webkit-background-clip: text;
            color: transparent; */
        }

        #restartBtn {
            padding: 10px 16px;
            background: #3498db;
            border: none;
            color: white;
            border-radius: 6px;
            cursor: pointer;
        }

        
        .game-container {
            width: 90%;
            max-width: 480px;
            height: 70vh;       
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(4, 1fr);
        }

        
        .card {
            position: relative;
            width: 100%;
            height: 100%;
            background: transparent;
            cursor: pointer;
            perspective: 900px;
            pointer-events: auto;
            z-index: 10;
        }

        .card-inner {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.5s ease;
            transform-style: preserve-3d;
            pointer-events: none; 
        }

        .card.flipped .card-inner {
            transform: rotateY(180deg);
        }

        .card-face {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
        }

        .card-front {
            background: white;
            border: 2px solid #ccc;
            transform: rotateY(180deg);
        }

        .card-back {
            background: linear-gradient(45deg, #3498db, #9b59b6);
            color: white;
        }

        
        @media (max-width: 450px) {
            .game-container {
                grid-template-columns: repeat(3, 1fr);
                height: 75vh;
            }
        }

